.input-wrapper {
  position: sticky;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(7, 75, 121, 1) 0%,
    rgba(122, 9, 152, 1) 100%
  );
  height: 100px;
  padding: 30px;
}

.input-wrapper input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
}

.search-container {
  padding: 6px;
}

.weekly-card img {
  border-radius: 20px;
}

.weekly-card h1 {
  margin-top: 10px;
  color: black;
}

.weekly-container {
  margin: 0px 0px;
  display: flex;
  overflow-y: auto;
}

.weekly-header {
  margin-top: 20px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.weekly-header h1 {
  font-size: 30px;
  font-weight: bold;
}

.weekly-header h2 {
  font-size: 15px;
}

.weekly-container::-webkit-scrollbar {
  width: 0;
}

.weekly-container > div {
  margin: 0px 8px;
}

.weekly-info h1 {
  font-weight: bold;
  font-size: 12px;
}
.weekly-info h2 {
  font-size: 10px;
  color: grey;
}

.weekly-info h3 {
  font-size: 8px;
}

.trending-info {
  margin: 20px;
}
.trending-card h1 {
  font-size: 18px;
  color: black;
}

.trending-card h2 {
  font-size: 12px;
  color: black;
}

.trending-card h3 {
  font-size: 12px;
  color: black;
}
