.cast-container {
  margin: 20px 0px;
  display: flex;
  overflow: auto;
}

.cast-container div {
  margin-left: 10px;

  box-shadow: 20px black;
}

.cast-card img {
  height: 150px;
}

.cast-card h1 {
  font-size: 20px;
}

.cast-card h2 {
  font-size: 15px;
  color: grey;
}
