.app-container {
  background-color: white;
  position: relative;
  max-width: 480px;
  padding: 0;
  margin: 20px auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.navigation-bar {
  width: 480px;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  padding: 15px 0px;
  justify-content: center;
}

.navbar-side {
  display: flex;
}

.navbar-side div {
  margin-left: 20px;
}

.movie-container {
  padding: 5px;
}

.add-page {
  padding: 0px;
}
.result-controls button {
  font-size: 10px;
  margin: 0 5px;
}

.result-controls {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.input-wrapper {
  position: sticky;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(7, 75, 121, 1) 0%,
    rgba(122, 9, 152, 1) 100%
  );
  height: 100px;
  padding: 30px;
}

.input-wrapper input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
}

.search-container {
  padding: 6px;
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  bottom: 20px;
  left: 40%;
  background: black;
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.inner-card-controls button {
  color: white;
}

.trending-container {
  padding: 0px 20px;
}

.trending-card {
  display: flex;
  margin-top: 10px;
  padding: 0px 5px;
  align-items: center;
  box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.17);
}

.position {
  color: aliceblue;
  font-weight: bold;
  margin: 5px;
  background-color: hotpink;
  padding: 1px 8px;
  border-radius: 50px;
}

.weekly-container {
  margin: 0px 0px;
  display: flex;
  overflow-y: auto;
}

.weekly-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-header h1 {
  font-size: 30px;
  font-weight: bold;
}

.weekly-header h2 {
  font-size: 15px;
}

.weekly-container::-webkit-scrollbar {
  width: 0;
}

.weekly-container > div {
  margin: 0px 10px;
}

.weekly-info h1 {
  font-weight: bold;
  font-size: 12px;
}
.weekly-info h2 {
  font-size: 10px;
  color: grey;
}

.weekly-info h3 {
  font-size: 8px;
}

.trending-info {
  margin: 20px;
}
.trending-card h1 {
  font-size: 18px;
}

.trending-card h2 {
  font-size: 12px;
}

.trending-card h3 {
  font-size: 12px;
}

.genre-list {
  display: flex;
  margin: 20px 0;
  overflow-y: auto;
}

.genre-list h1 {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  padding: 10px 25px;
  border-radius: 40px;
  background-color: black;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.movie-cast {
  display: flex;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin: 0;
  }
  .navigation-bar {
    width: 100%;
  }
}
