.app-container {
  background-color: white;
  position: relative;
  max-width: 480px;
  padding: 0;
  margin: 20px auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.navigation-bar {
  width: 480px;
  background-color: black;
  display: flex;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  padding: 15px 0px;
  justify-content: center;
}

.navbar-side {
  display: flex;
  text-align: center;
}

.navbar-side h1 {
  font-size: 15px;
  color: aliceblue;
}

.navbar-side div {
  margin-left: 20px;
}

.movie-container {
  padding: 5px;
}

.add-page {
  padding: 0px;
}
.result-controls button {
  font-size: 8px;
  margin: 0 5px;
}

.result-controls {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  bottom: 20px;
  left: 40%;
  background: black;
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.inner-card-controls button {
  color: white;
}

.genre-list {
  display: flex;
  margin: 20px 0;
  overflow-y: auto;
}

.genre-list h1 {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  padding: 10px 25px;
  border-radius: 40px;
  background-color: black;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
}

.movie-cast {
  display: flex;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin: 0;
  }
  .navigation-bar {
    width: 100%;
  }
}
